body {
    background-image: url(phone.jpg);
    background-repeat: no-repeat;
    background-color:rgb(170, 141, 197);
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}
div.screen {
    /*border-style: solid;
    border-color: black;*/

    position: absolute;
    left: 30px;
    top: 80px;
    height: 425px;
    width: 240px;

    text-align: center
}